*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(209 213 219 / 1);
    --white-light-text-color: rgb(209 213 219 / 1);
    --white-text-color: hsl(213 31% 91%);
    --grey-text-light-color: rgb(156 163 175 / 1);
    --red-text-color: rgb(255 45 32 / 1);
    --red-text-light-color: rgb(255 45 32 / 0.6);
    --main-bg-color: #0d102a;
    --card-bg-dark-color: 217.2 32.6% 17.5%;
    --padding-main-left: 1.5rem;
    --padding-main-right: 1.5rem;
    --padding-main-top: 2rem;
    --padding-main-bottom: 2rem;
    --sm-font-size: 0.875rem;
    --sm-line-height: 1.25rem;
    --bg-light-red: #ff2d201a;
    --card-foreground: 213 31% 91%;
    --muted: 217.2 32.6% 17.5%;

    --sk-red: 255, 45, 32;
    --sk-light-voilet: 119, 123, 179;
    --sk-light-blue: 68, 121, 161;
    --sk-dark-blue: 59, 130, 246;
    --sk-white: 225, 231, 239;
    --sk-green: 79, 192, 141;
    --sk-dark-green: 34, 197, 94;
    --sk-voilet: 168, 85, 247;
    --sk-yellow: 234, 179, 8;
    --sk-light-green: 56, 178, 172;
    --sk-dark-yellow: 255, 153, 0;
}

/* === RED === */
.bg-sk-red-100 { background-color: rgba(var(--sk-red), 1) !important; }
.bg-sk-red-80  { background-color: rgba(var(--sk-red), 0.8) !important; }
.bg-sk-red-60  { background-color: rgba(var(--sk-red), 0.6) !important; }
.bg-sk-red-40  { background-color: rgba(var(--sk-red), 0.4) !important; }
.bg-sk-red-20  { background-color: rgba(var(--sk-red), 0.2) !important; }

/* === LIGHT VOILET === */
.bg-sk-light-voilet-100 { background-color: rgba(var(--sk-light-voilet), 1) !important; }
.bg-sk-light-voilet-80  { background-color: rgba(var(--sk-light-voilet), 0.8) !important; }
.bg-sk-light-voilet-60  { background-color: rgba(var(--sk-light-voilet), 0.6) !important; }
.bg-sk-light-voilet-40  { background-color: rgba(var(--sk-light-voilet), 0.4) !important; }
.bg-sk-light-voilet-20  { background-color: rgba(var(--sk-light-voilet), 0.2) !important; }

/* === LIGHT BLUE === */
.bg-sk-light-blue-100 { background-color: rgba(var(--sk-light-blue), 1) !important; }
.bg-sk-light-blue-80  { background-color: rgba(var(--sk-light-blue), 0.8) !important; }
.bg-sk-light-blue-60  { background-color: rgba(var(--sk-light-blue), 0.6) !important; }
.bg-sk-light-blue-40  { background-color: rgba(var(--sk-light-blue), 0.4) !important; }
.bg-sk-light-blue-20  { background-color: rgba(var(--sk-light-blue), 0.2) !important; }

/* === DARK BLUE === */
.bg-sk-dark-blue-100 { background-color: rgba(var(--sk-dark-blue), 1) !important; }
.bg-sk-dark-blue-80  { background-color: rgba(var(--sk-dark-blue), 0.8) !important; }
.bg-sk-dark-blue-60  { background-color: rgba(var(--sk-dark-blue), 0.6) !important; }
.bg-sk-dark-blue-40  { background-color: rgba(var(--sk-dark-blue), 0.4) !important; }
.bg-sk-dark-blue-20  { background-color: rgba(var(--sk-dark-blue), 0.2) !important; }

/* === WHITE === */
.bg-sk-white-100 { background-color: rgba(var(--sk-white), 1) !important; }
.bg-sk-white-80  { background-color: rgba(var(--sk-white), 0.8) !important; }
.bg-sk-white-60  { background-color: rgba(var(--sk-white), 0.6) !important; }
.bg-sk-white-40  { background-color: rgba(var(--sk-white), 0.4) !important; }
.bg-sk-white-20  { background-color: rgba(var(--sk-white), 0.2) !important; }

/* === GREEN === */
.bg-sk-green-100 { background-color: rgba(var(--sk-green), 1) !important; }
.bg-sk-green-80  { background-color: rgba(var(--sk-green), 0.8) !important; }
.bg-sk-green-60  { background-color: rgba(var(--sk-green), 0.6) !important; }
.bg-sk-green-40  { background-color: rgba(var(--sk-green), 0.4) !important; }
.bg-sk-green-20  { background-color: rgba(var(--sk-green), 0.2) !important; }

/* === DARK GREEN === */
.bg-sk-dark-green-100 { background-color: rgba(var(--sk-dark-green), 1) !important; }
.bg-sk-dark-green-80  { background-color: rgba(var(--sk-dark-green), 0.8) !important; }
.bg-sk-dark-green-60  { background-color: rgba(var(--sk-dark-green), 0.6) !important; }
.bg-sk-dark-green-40  { background-color: rgba(var(--sk-dark-green), 0.4) !important; }
.bg-sk-dark-green-20  { background-color: rgba(var(--sk-dark-green), 0.2) !important; }

/* === VOILET === */
.bg-sk-voilet-100 { background-color: rgba(var(--sk-voilet), 1) !important; }
.bg-sk-voilet-80  { background-color: rgba(var(--sk-voilet), 0.8) !important; }
.bg-sk-voilet-60  { background-color: rgba(var(--sk-voilet), 0.6) !important; }
.bg-sk-voilet-40  { background-color: rgba(var(--sk-voilet), 0.4) !important; }
.bg-sk-voilet-20  { background-color: rgba(var(--sk-voilet), 0.2) !important; }

/* === YELLOW === */
.bg-sk-yellow-100 { background-color: rgba(var(--sk-yellow), 1) !important; }
.bg-sk-yellow-80  { background-color: rgba(var(--sk-yellow), 0.8) !important; }
.bg-sk-yellow-60  { background-color: rgba(var(--sk-yellow), 0.6) !important; }
.bg-sk-yellow-40  { background-color: rgba(var(--sk-yellow), 0.4) !important; }
.bg-sk-yellow-20  { background-color: rgba(var(--sk-yellow), 0.2) !important; }

/* === LIGHT GREEN === */
.bg-sk-light-green-100 { background-color: rgba(var(--sk-light-green), 1) !important; }
.bg-sk-light-green-80  { background-color: rgba(var(--sk-light-green), 0.8) !important; }
.bg-sk-light-green-60  { background-color: rgba(var(--sk-light-green), 0.6) !important; }
.bg-sk-light-green-40  { background-color: rgba(var(--sk-light-green), 0.4) !important; }
.bg-sk-light-green-20  { background-color: rgba(var(--sk-light-green), 0.2) !important; }

/* === DARK YELLOW === */
.bg-sk-dark-yellow-100 { background-color: rgba(var(--sk-dark-yellow), 1) !important; }
.bg-sk-dark-yellow-80  { background-color: rgba(var(--sk-dark-yellow), 0.8) !important; }
.bg-sk-dark-yellow-60  { background-color: rgba(var(--sk-dark-yellow), 0.6) !important; }
.bg-sk-dark-yellow-40  { background-color: rgba(var(--sk-dark-yellow), 0.4) !important; }
.bg-sk-dark-yellow-20  { background-color: rgba(var(--sk-dark-yellow), 0.2) !important; }

/* TEXT */
/* === RED === */
.text-sk-red-100 { color: rgba(var(--sk-red), 1) !important; }
.text-sk-red-80  { color: rgba(var(--sk-red), 0.8) !important; }
.text-sk-red-60  { color: rgba(var(--sk-red), 0.6) !important; }
.text-sk-red-40  { color: rgba(var(--sk-red), 0.4) !important; }
.text-sk-red-20  { color: rgba(var(--sk-red), 0.2) !important; }

/* === LIGHT VOILET === */
.text-sk-light-voilet-100 { color: rgba(var(--sk-light-voilet), 1) !important; }
.text-sk-light-voilet-80  { color: rgba(var(--sk-light-voilet), 0.8) !important; }
.text-sk-light-voilet-60  { color: rgba(var(--sk-light-voilet), 0.6) !important; }
.text-sk-light-voilet-40  { color: rgba(var(--sk-light-voilet), 0.4) !important; }
.text-sk-light-voilet-20  { color: rgba(var(--sk-light-voilet), 0.2) !important; }

/* === LIGHT BLUE === */
.text-sk-light-blue-100 { color: rgba(var(--sk-light-blue), 1) !important; }
.text-sk-light-blue-80  { color: rgba(var(--sk-light-blue), 0.8) !important; }
.text-sk-light-blue-60  { color: rgba(var(--sk-light-blue), 0.6) !important; }
.text-sk-light-blue-40  { color: rgba(var(--sk-light-blue), 0.4) !important; }
.text-sk-light-blue-20  { color: rgba(var(--sk-light-blue), 0.2) !important; }

/* === DARK BLUE === */
.text-sk-dark-blue-100 { color: rgba(var(--sk-dark-blue), 1) !important; }
.text-sk-dark-blue-80  { color: rgba(var(--sk-dark-blue), 0.8) !important; }
.text-sk-dark-blue-60  { color: rgba(var(--sk-dark-blue), 0.6) !important; }
.text-sk-dark-blue-40  { color: rgba(var(--sk-dark-blue), 0.4) !important; }
.text-sk-dark-blue-20  { color: rgba(var(--sk-dark-blue), 0.2) !important; }

/* === WHITE === */
.text-sk-white-100 { color: rgba(var(--sk-white), 1) !important; }
.text-sk-white-80  { color: rgba(var(--sk-white), 0.8) !important; }
.text-sk-white-60  { color: rgba(var(--sk-white), 0.6) !important; }
.text-sk-white-40  { color: rgba(var(--sk-white), 0.4) !important; }
.text-sk-white-20  { color: rgba(var(--sk-white), 0.2) !important; }

/* === GREEN === */
.text-sk-green-100 { color: rgba(var(--sk-green), 1) !important; }
.text-sk-green-80  { color: rgba(var(--sk-green), 0.8) !important; }
.text-sk-green-60  { color: rgba(var(--sk-green), 0.6) !important; }
.text-sk-green-40  { color: rgba(var(--sk-green), 0.4) !important; }
.text-sk-green-20  { color: rgba(var(--sk-green), 0.2) !important; }

/* === DARK GREEN === */
.text-sk-dark-green-100 { color: rgba(var(--sk-dark-green), 1) !important; }
.text-sk-dark-green-80  { color: rgba(var(--sk-dark-green), 0.8) !important; }
.text-sk-dark-green-60  { color: rgba(var(--sk-dark-green), 0.6) !important; }
.text-sk-dark-green-40  { color: rgba(var(--sk-dark-green), 0.4) !important; }
.text-sk-dark-green-20  { color: rgba(var(--sk-dark-green), 0.2) !important; }

/* === VOILET === */
.text-sk-voilet-100 { color: rgba(var(--sk-voilet), 1) !important; }
.text-sk-voilet-80  { color: rgba(var(--sk-voilet), 0.8) !important; }
.text-sk-voilet-60  { color: rgba(var(--sk-voilet), 0.6) !important; }
.text-sk-voilet-40  { color: rgba(var(--sk-voilet), 0.4) !important; }
.text-sk-voilet-20  { color: rgba(var(--sk-voilet), 0.2) !important; }

/* === YELLOW === */
.text-sk-yellow-100 { color: rgba(var(--sk-yellow), 1) !important; }
.text-sk-yellow-80  { color: rgba(var(--sk-yellow), 0.8) !important; }
.text-sk-yellow-60  { color: rgba(var(--sk-yellow), 0.6) !important; }
.text-sk-yellow-40  { color: rgba(var(--sk-yellow), 0.4) !important; }
.text-sk-yellow-20  { color: rgba(var(--sk-yellow), 0.2) !important; }

/* === LIGHT GREEN === */
.text-sk-light-green-100 { color: rgba(var(--sk-light-green), 1) !important; }
.text-sk-light-green-80  { color: rgba(var(--sk-light-green), 0.8) !important; }
.text-sk-light-green-60  { color: rgba(var(--sk-light-green), 0.6) !important; }
.text-sk-light-green-40  { color: rgba(var(--sk-light-green), 0.4) !important; }
.text-sk-light-green-20  { color: rgba(var(--sk-light-green), 0.2) !important; }

/* === DARK YELLOW === */
.text-sk-dark-yellow-100 { color: rgba(var(--sk-dark-yellow), 1) !important; }
.text-sk-dark-yellow-80  { color: rgba(var(--sk-dark-yellow), 0.8) !important; }
.text-sk-dark-yellow-60  { color: rgba(var(--sk-dark-yellow), 0.6) !important; }
.text-sk-dark-yellow-40  { color: rgba(var(--sk-dark-yellow), 0.4) !important; }
.text-sk-dark-yellow-20  { color: rgba(var(--sk-dark-yellow), 0.2) !important; }

body {
    scroll-behavior: smooth;
    color: hsl(213 31% 91%);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_section {
    background-color: var(--main-bg-color);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav_main {
    height: 5rem;
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_1 {
    display: flex;
    align-items: center;
}

.nav_1 a{
    display: flex;
    align-items: center;
}

.nav_arrow {
    width: 2rem;
    height: 2rem;
    color: rgb(255 45 32 / 1);
    stroke: rgb(255 45 32 / 1);
}

.nav_main_text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, rgba(255,45,32,1) 0%, #3b82f6 45%);
    margin-left: 0.5rem;
}

.nav_2 {
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav_2 ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_2 ul li a {
    font-weight: 500;
    color: var(--white-text-color);
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-decoration: none;
    margin-left: 0.25rem;
    margin-right: 1.25rem;
    transition: all 0.3s ease-in-out;
}
.nav_2 ul li a:hover {
    color: var(--red-text-color);
}
.cv button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: #ff2d201a;
    border-radius: 0.5rem;
    white-space: nowrap;
    gap: .5rem;
    display: inline-flex;
    align-items: center;
    height: 2.25rem;
    color: var(--white-text-color);
    transition: all 0.1s ease-in-out;
}

.cv button:hover {
    background-color: #ff2d2033;
}

.side-menu {
    display: none;
}

.hamb{
    display: none;
}

/* main csss */

.main_section {
    background-color: var(--main-bg-color);
}

.main_container {
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    /* padding-top: var(--padding-main-top); */
    /* padding-bottom: var(--padding-main-bottom); */
    padding-top: 3rem;
    padding-bottom: 6rem;
    margin: auto;
    max-width: 1400px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.lwd_main {
    color: var(--red-text-color);
    background-color: var(--bg-light-red);
    padding: 0.25rem 0.75rem;
    width: fit-content;
    border-radius: 9999px;
}

.tn_main {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, rgba(255,45,32,1) 0%, #3b82f6 45%);
}

.fs_main {
    margin-top: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, #3b82f6 0%, rgba(255,45,32,1) 45%);
}

.wd_main {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.desc_main {
    font-size: 1.15rem;
}

.cbtn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: var(--white-text-color);
    background-color: var(--red-text-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.cbtn:hover {
    background-color: var(--red-text-light-color);
}

.cbtn-danger {
    color: var(--white-text-color);
    background-color: var(--red-text-color);
}

.main_img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 1rem;
    /* border-bottom: 4px solid var(--red-text-color); */
}

.ts_main {
    color: var(--grey-text-light-color);
    margin-bottom: 0.75rem;
}

.ts_list_div {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ts_list {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-right: 1rem;
}

.ts_list img {
    height: 1.1rem;
    margin-right: 0.3rem;
}

.ts_list img.php_svg {
    height: 1.9rem;
}

.ts_list p {
    margin-bottom: 0;
    font-size: 1rem;
}

.c_heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
    /* color: var(--white-text-color); */
}

.about_section {
    /* background-color: var(--main-bg-color); */
    background-color: #030711;
}

.about_container {
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    padding-top: var(--padding-main-top);
    padding-bottom: var(--padding-main-bottom);
    margin: auto;
    max-width: 1400px;
}

.c_heading {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    color: white;
    text-align: center;
}

.c_line {
    width: 5rem;
    height: 0.25rem;
    background-color: var(--red-text-color);
    margin: auto;
    margin-bottom: 2rem;
}

.c_description {
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--white-light-text-color);
    text-align: center;
}

.about_img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 1rem;
    /* border-bottom: 4px solid var(--red-text-color); */
}

.cont_heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: white;
}

.cont_desc {
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

.as_cont {
    text-align: center;
    padding: 2rem 1.5rem;
    background-color: hsl(var(--card-bg-dark-color));
    border: rgb(31 41 55 / 1);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.ase_icon {
    width: 1.75rem;
    height: 1.75rem;
    color: var(--red-text-color);
    stroke: var(--red-text-color);
    margin-bottom: 1rem;
    background-color: transparent;
}

.asp_icon {
    width: 1.75rem;
    height: 1.75rem;
    color: rgb(37 99 235 / 1);
    stroke: rgb(37 99 235 / 1);
    margin-bottom: 1rem;
    background-color: transparent;
}

.as_heading {
    color: var(--white-text-color);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
    background-color: transparent;
}

.as_description {
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: transparent;
}

.about_img_div {
    position: relative;
}

.about_img_circle {
    position: absolute;
    bottom: -1.5rem;
    right: -1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    background-color: var(--red-text-color);
    color: white;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.a_end {
    text-align: center;
}

.ems_svg {
    width: 1rem;
    animation: bounce 1.3s infinite;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-0.5rem);
    }
    75% {
        transform: translateY(-0.25rem);
    }   
}

.skills_section {
    /* background-color: var(--main-bg-color); */
    background-color: #030711;
}

.skills_container {
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    padding-top: var(--padding-main-top);
    padding-bottom: var(--padding-main-bottom);
    max-width: 1400px;
    margin: auto;
}

.sk_heading{
    margin-bottom: 1.75rem;
}

.sk_heading p{
    margin-left: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--white-text-color);
}

.sk_inital {
    color: var(--red-text-color);
    background-color: #ff2d201a;
    border-radius: 9999px;
    height: 1.75rem;
    width: 1.75rem;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sk_inital span {
    color: var(--red-text-color);
    background-color: transparent;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.sk_range {
    width: 100%;
    /* height: 0.25rem;
    background-color: rgb(156 163 175 / 0.2);
    border-radius: 9999px;
    margin-left: 0.75rem; */
}

.sk_list_div {
}

.sk_list_card {
    margin: 0.75rem 0;
    /* margin-left: 0rem; */
    padding: 1rem ;
    border-radius: 0.5rem;
    /* background-color: hsl(var(--card-bg-dark-color) / 0.5) !important; */
    background-color: #0e1524;
    background-color: hsl(var(--muted) / .4);
}

.sk_list_card p {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 0.75rem;
    color: var(--white-text-color);
    /* color: #e1e7ef; */
}

.sk_range_div {
    overflow: hidden;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(156 163 175 / 0.2);
    border-radius: 9999px;
    margin-top: 1rem;
    position: relative;
}

.sk_range {
    height: 0.5rem;
    position: absolute;
    border-radius: 9999px;
}

.exp_section {
    /* background-color: var(--main-bg-color); */
    background-color: #030711;
}

.exp_container {
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    padding-top: var(--padding-main-top);
    padding-bottom: var(--padding-main-bottom);
    max-width: 1400px;
    margin: auto;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline_red_line {
    height: 0.25rem;
    background-color: var(--red-text-color);
    border-radius: 5px;
}

.timeline-item {
    padding: 0 40px 25px 40px;
    position: relative;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: red;
    border: 4px solid #0d0d1a;
    /* top: 15px; */
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:last-child {
    padding: 0 40px 0px 40px;
}

.timeline_card {
    /* border-color: rgb(55 65 81 / 1); */
    border: 2px solid rgb(55 65 81 / 0.4);
    border-radius: 5px;
    border-top: 0;
    /* padding: 1rem; */
}

.timeline_card_content {
    padding: 1.5rem;
}

.timeline_card h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.timeline_card p, .card li {
  
}

.timeline_card ul {

}

.timeline-left {
    left: 0;
}

.timeline-right {
    left: 50%;
}

.timeline-item.timeline-right::after {
    left: -10px;
}

.exp_icon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--red-text-color);
    stroke: var(--red-text-color);
    background-color: hsl(var(--muted) / .6);
    border-radius: 100%;
    border: 1px solid hsl(var(--muted) / 1);
    padding: 0.4rem;
    margin: 6px 10px 0 0;
}

.exp-case-icon {
    width: 0.85rem;
    height: 0.85rem;
    margin: 4px 5px 0 0;
}

.cust-exp-off {
    color: rgb(156 163 175);
    font-size: 0.8rem;
}

.exp_off {
    font-size: 0.9rem;
    color: rgb(156 163 175 / 1);
    display: flex;
}

.exp_off svg {
    width: 0.8rem;
    height: 0.8rem;
    margin: 4px 5px 0 0;
    color: rgb(156 163 175 / 1);
}

.exp_details_list li::marker {
    color: red;
    /* padding: 0; */
}

ul.exp_details_list {
    padding-left:1em;
    margin-bottom: 0;
}

ul.exp_details_list li {
    font-size: 0.92rem;
    padding-left: 0;
    margin-bottom: 3px;
}

.ico-blue {
    stroke: rgb(37 99 235 / 1);
}

.ico-voilet {
    stroke: rgb(119 123 179 / 1);
}

.con_section {
    /* background-color: var(--main-bg-color); */
    /* background-color: #030711; */
    background-color: hsl(224 71% 4%);
}

.con_container {
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    padding-top: var(--padding-main-top);
    padding-bottom: var(--padding-main-bottom);
    max-width: 1400px;
    margin: auto;
}

.con_head_1 {
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.con_ico {
    padding: 0.7rem;
    background-color: rgba(255, 45, 32, 0.1);
    border-radius: 500px;
    margin-right: 1rem;
}

.con_ico svg {
    stroke: rgb(255 45 32 / 0.9);
    /* width: 1rem;
    height: auto; */
}

.con-desc {
    padding: 1.5rem;
    background-color: hsl(var(--card-bg-dark-color) / 0.4);
    border-color: rgb(31 41 55 / 1);
    border-width: 1px;
    border-radius: 0.5rem;
}

.con-desc h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.con-desc p {
    color: rgb(209 213 219 / 1);
    font-size: .875rem;
    line-height: 1.25rem;
}

.ct_head_sub_1 {
    color: rgb(156 163 175);
    margin-bottom: 0;
}

.ct_head_sub_2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
}

.c_form_container {
    padding: 1.5rem;
    background-color: hsl(var(--muted) / .2);
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
}

.form_header {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}

.input_div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.input_div label {
    color: rgb(156 163 175 / 1);
    font-weight: 500;
    font-size: .95rem;
    line-height: 1.25rem;
    margin-bottom: .25rem;
}
.input_div input,textarea {
    font-size: .95rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: hsl(var(--muted));
    border-color: rgb(55 65 81 / 1);
    border-width: 1px;
    border-radius: calc(0.5rem - 2px);
    width: 100%;
    /* height: 2.5rem; */
}

.input_err {
    margin-bottom: 0;
    color: var(--red-text-color);
    font-size: 0.85rem;
}

.cust_submit {
    margin: 2rem auto;
    width: 100%;
}

.cust_submit svg {
    height: 0.95rem;
    margin: auto 0.25rem;
}