*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(209 213 219 / 1);
    --white-text-color: hsl(213 31% 91%);
    --red-text-color: rgb(255 45 32 / 1);
    --red-text-light-color: rgb(255 45 32 / 0.6);
    --main-bg-color: #0d102a;
    --padding-main-left: 1.5rem;
    --padding-main-right: 1.5rem;
    --padding-main-top: 2rem;
    --padding-main-bottom: 2rem;
    --sm-font-size: 0.875rem;
    --sm-line-height: 1.25rem;
    --bg-light-red: #ff2d201a;
}

/* *, *::before, *::after {
    box-sizing: border-box;
} */


body {
    scroll-behavior: smooth;
    color: hsl(213 31% 91%);
    overflow-x: hidden;
}

.nav_section {
    background-color: var(--main-bg-color);
    width: 100%;
    position: sticky;
    top: 0;
}

.nav_main {
    height: 5rem;
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_1 {
    display: flex;
    align-items: center;
}

.nav_1 a{
    display: flex;
    align-items: center;
}

.nav_arrow {
    width: 2rem;
    height: 2rem;
    color: rgb(255 45 32 / 1);
    stroke: rgb(255 45 32 / 1);
}

.nav_main_text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, rgba(255,45,32,1) 0%, #3b82f6 45%);
    margin-left: 0.5rem;
}

.nav_2 {
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav_2 ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_2 ul li a {
    font-weight: 500;
    color: var(--white-text-color);
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-decoration: none;
    margin-left: 0.25rem;
    margin-right: 1.25rem;
    transition: all 0.3s ease-in-out;
}
.nav_2 ul li a:hover {
    color: var(--red-text-color);
}
.cv button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: #ff2d201a;
    border-radius: 0.5rem;
    white-space: nowrap;
    gap: .5rem;
    display: inline-flex;
    align-items: center;
    height: 2.25rem;
    color: var(--white-text-color);
    transition: all 0.1s ease-in-out;
}

.cv button:hover {
    background-color: #ff2d2033;
}

.side-menu {
    display: none;
}

.hamb{
    display: none;
}

/* main csss */

.main_section {
    background-color: var(--main-bg-color);
}

.main_container {
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
    padding-top: var(--padding-main-top);
    padding-bottom: var(--padding-main-bottom);
    margin: auto;
    max-width: 1400px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.lwd_main {
    color: var(--red-text-color);
    background-color: var(--bg-light-red);
    padding: 0.25rem 0.75rem;
    width: fit-content;
    border-radius: 9999px;
}

.tn_main {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, rgba(255,45,32,1) 0%, #3b82f6 45%);
}

.fs_main {
    margin-top: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, #3b82f6 0%, rgba(255,45,32,1) 45%);
}

.wd_main {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.desc_main {
    font-size: 1.15rem;
}

.cbtn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: var(--white-text-color);
    background-color: var(--red-text-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.cbtn:hover {
    background-color: var(--red-text-light-color);
}

.cbtn-danger {
    color: var(--white-text-color);
    background-color: var(--red-text-color);
}

.main_img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 1rem;
    /* border-bottom: 4px solid var(--red-text-color); */
}

