@media (max-width: 768px) {
    .nav_main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* Hamburger CSS */
    .hamb{
        cursor: pointer;
        float: right;
        /* padding: 40px 20px; */
        display: block;
    }

    .hamb-line {
        background: var(--white-text-color);
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    }

    .hamb-line::before,
    .hamb-line::after{
        background: var(--white-text-color);
        content: '';
        display: block;
        height: 92%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 5px;
    }
    .hamb-line::after{
        top: -5px;
    }

    /* Toogle Menu Icon */
    .side-menu:checked ~ .nav_list {
        max-height: 500px;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }

    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    body:has(.side-menu:checked) {
        overflow: hidden;
    }

    .nav_list{
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        width: 100%;
        background-color: #0d102a;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .nav_list ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav_list li{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .main_img_div {
        padding: 0.1rem;
    }

    .cv {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .timeline::after {
        left: 8px;
    }

    .timeline-right {
        left: 0%;
    }

    .timeline-item.timeline-left::after {
        left: 0px;
    }

    .timeline-item.timeline-right::after {
        left: 0px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 30px !important;
        padding-right: 0px !important;
    }

    .timeline-item:last-child {
        padding-bottom: 0 !important;
    }

    .timeline-item.right {
        left: 0%;
    }

    .timeline-item::after {
        left: 0%;
    }

    .timeline_card_content {
        padding: 1rem;
    }

    .timeline_card h3 {
        font-size: 1rem;
    }

    .con-div-1 {
        order: 2;
    }

    .con-div-2 {
        order: 1;
        margin-bottom: 1.75rem;
    }

    .footer_con_one {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_main_text {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.3rem;
        margin-left: 0.4rem;
    }
    
    .foot_link_ico_list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .foot_a {
        background-color: hsl(var(--muted));
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        width: 2.5rem;
        height: 2.5rem;
    }
}