@media screen and (min-width: 768px) {

    .tn_main {
        font-size: 3.5rem;
    }

    .text-typing {
        display: inline-block;
        border-right: 2px solid rgb(209, 213, 219);
        padding-right: 1ch;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        animation: typing 3.5s steps(13) 1s forwards, blink-caret 0.75s step-end 4s forwards;
    }
      
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 13ch;
        }
    }
    
    @keyframes blink-caret {
        0% {
          border-color: rgb(209, 213, 219);
        }
        99% {
          border-color: rgb(209, 213, 219);
        }
        100% {
          border-color: transparent;
        }
    }
  }